BoatManagement/BoatManagement/Service References/ServiceBoatLostInfor/ServiceBoatLostInfor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AllBoatLoatInfor">
        <s:complexType />
      </s:element>
      <s:element name="AllBoatLoatInforResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllBoatLoatInforResult" type="tns:ArrayOfBoatLostInfor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoatLostInfor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BoatLostInfor" nillable="true" type="tns:BoatLostInfor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BoatLostInfor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastConnect" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IDJourney" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IDBoat" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ocean" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lastconnect" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Long" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_jouney" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_boat" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ocean" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="timeconnect" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Long" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_jouney" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ocean" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AllBoatLoatInforSoapIn">
    <wsdl:part name="parameters" element="tns:AllBoatLoatInfor" />
  </wsdl:message>
  <wsdl:message name="AllBoatLoatInforSoapOut">
    <wsdl:part name="parameters" element="tns:AllBoatLoatInforResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="BoatLostInfor1Soap">
    <wsdl:operation name="AllBoatLoatInfor">
      <wsdl:input message="tns:AllBoatLoatInforSoapIn" />
      <wsdl:output message="tns:AllBoatLoatInforSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BoatLostInfor1Soap" type="tns:BoatLostInfor1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllBoatLoatInfor">
      <soap:operation soapAction="http://tempuri.org/AllBoatLoatInfor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BoatLostInfor1Soap12" type="tns:BoatLostInfor1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllBoatLoatInfor">
      <soap12:operation soapAction="http://tempuri.org/AllBoatLoatInfor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoatLostInfor1">
    <wsdl:port name="BoatLostInfor1Soap" binding="tns:BoatLostInfor1Soap">
      <soap:address location="http://localhost:50578/ServiceBoatLostInfor.asmx" />
    </wsdl:port>
    <wsdl:port name="BoatLostInfor1Soap12" binding="tns:BoatLostInfor1Soap12">
      <soap12:address location="http://localhost:50578/ServiceBoatLostInfor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>